$grey: #9292A0;
$grey-1: #696977;
$grey-2: #E6E6EB;
$blue-1: #3586FF;
$purple: #497ADA;

$break_sm: 576px;
$break_md: 768px;
$break_lg: 992px;
$break_xl: 1200px;
$break_xxl: 1400px;

$font-family-mont: 'Montserrat', sans-serif;
